# Git ignore file for zooshi:
apks/
assets/*.pinbus
assets/*.pinconfig
assets/*.zooassets
assets/*.zooconfig
assets/*.zooentity
assets/*.zooinconfig
assets/anims/
assets/flatbufferschemas/
assets/fonts/
assets/graphs/
assets/materials/
assets/meshes/
assets/rails/
assets/shaders/font.*
assets/shaders/font_*
assets/sound_banks/*.pinbank
assets/sounds/*.pinsound
assets/textures/
assets/overlays/
bin/
fplbase_assets/
gen/
libs/
obj/

# CMake files
CMakeCache.txt
CMakeFiles/*
CMakeLists.txt.user
CMakeScripts/*
Makefile
cmake_install.cmake
tests/CMakeFiles/*
tests/Makefile
tests/cmake_install.cmake
*.xcodeproj/

# Visual Studio files
*.opensdf
*.pdb
*.sdf
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
Debug/
Win32/
build/
pingme.txt

# qt creator
*.cbp
CMakeLists.txt.user.*

# Unit test executables:
tests/sample_test

# android build files
build.xml
gen/
local.properties
proguard-project.txt
src_java/org/
src_java/com/google/fpl/fplbase/

# symlink to the Google Play Services library.
google-play-services_lib

# misc files
tags

# emacs backup files
*~

# OSX files
.DS_Store

# XCode files
*.xcscheme
*.xcsettings
*.xcuserstate
*.xcworkspacedata
*.xccheckout
